{% extends "base.html" %}

{% block content %}
<div class="product-section">
  <div class="product-display">
    <img src="/static/img/watch.jpg"/>
  </div>
  <div class="product-info">
    <h2 class="product-name">Digital Watch</h2>
    <p class="pricing-info">$500</p>
    <p class="product-description">Our watch is made of the finest materials and is loved worldwide by millions.</p>
    <ul>
      <li>GPS tracking</li>
      <li>Heart rate monitor</li>
      <li>Phone notifications and quick replies</li>
    </ul>
    <p class="affirm-as-low-as" data-page-type="product" data-amount="50000"></p>
    <a href="/checkout"><button class="btn btn-primary">Buy Now</button></a>
  </div>
</div>
{% endblock %}
